*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:aliceblue;
display: flex;
flex-direction: column;
min-height: 100vh;

}
header{
    background-color: rgb(23, 23, 83);   
}
main{
    flex: 1 0 auto;
}
.container-bottom{
    padding-bottom: 100px;
}

.inputborder{
    border: 1px solid black;
    padding: 10px;
    display:flex ;
    justify-content: center;
    align-items: center;
    min-width: 20vh;
    min-height: 20vh;
}
.inputborder input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.outPut{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.orignalString{
    border: 1px solid black;
    background-color: rgb(23, 23, 83);
    height: 20vh;
    margin-bottom: 3%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border1{
    border: 1px solid black;
    padding: 10px;
    min-height:50vh;
    min-width: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-color: rgb(23, 23, 83);
}